<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.hy.tuna.menu.MenuMapper">
    <resultMap id="baseMap" type="com.hy.tuna.menu.Menu">
        <result column="id" property="id" javaType="String"/>
        <result column="name" property="name" javaType="String"/>
    </resultMap>
    <resultMap id="baseMap1" type="com.hy.tuna.menu.Menu">
        <result column="id" property="id" javaType="String"/>
    </resultMap>
    <select id="queryById" resultMap="baseMap1">
        select * from menu where 1=1
        <if test="name!=null">
            and name=#{name}
        </if>
        <if test="id!=null">
            and id=#{id}
        </if>
        order by id
    </select>
</mapper>